{% extends "layout.html" %}

{% block title %}
    Študent {{ student.name }}
{% endblock title %}


{% block content %}
    <script>
		$(document).ready(function(){
  		 	$(".active").removeClass("active");
  		 	$("#account").addClass("active");
  		 	$("#student").addClass("active");
		});
	</script>


    <style>

        :root {
          --input-padding-x: 1.5rem;
          --input-padding-y: .75rem;
        }

        @media only screen and (max-width: 600px) {
            .book-list {
                margin-top:200px;
                padding-top:15px;
            }
            .student-card {
                margin:10px;
            }
            .utilities-buttons {
                display:none;
            }
        }
        {% if not current_user.is_authenticated %}
            #main_place {
                padding-bottom:50px;
            }
        {% endif %}

        .tag {
            display: inline-block;
            background-color: #0275d8;
            color: white;
            border-radius: 40px;
            padding: 0px 7px 0px 7px;
            margin-right: 5px;
            margin-bottom:5px;
            box-shadow: 0 5px 15px -2px rgba(250 , 14 , 126 , .7)
        }


        .form-label-group {
          position: relative;
          margin-bottom: 1rem;
        }

        .form-label-group input {
          height: auto;
          border-radius: 2rem;
        }

        .form-label-group>input,
        .form-label-group>label {
          padding: var(--input-padding-y) var(--input-padding-x);
        }

        .form-label-group>label {
          position: absolute;
          top: 0;
          left: 0;
          display: block;
          width: 100%;
          margin-bottom: 0;
          /* Override default `<label>` margin */
          line-height: 1.5;
          color: #495057;
          border: 1px solid transparent;
          border-radius: .25rem;
          transition: all .1s ease-in-out;
        }

        .form-label-group input::-webkit-input-placeholder {
          color: transparent;
        }

        .form-label-group input:-ms-input-placeholder {
          color: transparent;
        }

        .form-label-group input::-ms-input-placeholder {
          color: transparent;
        }

        .form-label-group input::-moz-placeholder {
          color: transparent;
        }

        .form-label-group input::placeholder {
          color: transparent;
        }

        .form-label-group input:not(:placeholder-shown) {
          padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
          padding-bottom: calc(var(--input-padding-y) / 3);
        }

        .form-label-group input:not(:placeholder-shown)~label {
          padding-top: calc(var(--input-padding-y) / 3);
          padding-bottom: calc(var(--input-padding-y) / 3);
          font-size: 12px;
          color: #777;
        }

        .btn-google {
          color: white;
          background-color: #ea4335;
        }

        .btn-facebook {
          color: white;
          background-color: #3b5998;
        }

        /* Fallback for Edge
        -------------------------------------------------- */

        @supports (-ms-ime-align: auto) {
          .form-label-group>label {
            display: none;
          }
          .form-label-group input::-ms-input-placeholder {
            color: #777;
          }
        }

        /* Fallback for IE
        -------------------------------------------------- */

        @media all and (-ms-high-contrast: none),
        (-ms-high-contrast: active) {
          .form-label-group>label {
            display: none;
          }
          .form-label-group input:-ms-input-placeholder {
            color: #777;
          }
        }


        .tags-input-wrapper{
            background: transparent;
            padding: 10px;
            border-radius: 25px;
            max-width: 400px;
            border: 1px solid #ccc
        }
        .tags-input-wrapper input{
            border: none;
            background: transparent;
            outline: none;
            width: 140px;
            margin-left: 8px;
        }
        .tags-input-wrapper .tag{
            display: inline-block;
            background-color: #0275d8;
            color: white;
            border-radius: 40px;
            padding: 0px 3px 0px 7px;
            margin-right: 5px;
            margin-bottom:5px;
            box-shadow: 0 5px 15px -2px rgba(250 , 14 , 126 , .7)
        }
        .tags-input-wrapper .tag a {
            margin: 0 7px 3px;
            display: inline-block;
            cursor: pointer;
        }

    </style>




    <div class="container" style="padding-top:100px;">
        <div class="row">
            <div class="card student-card col-md-4 col-lg-4 col-sm-12 col-xs-12" style="height:150px;">
              <div class="card-body">
                <div id="operation2" style="display:none">
                    <h3 class="card-title">{{student.name}}</h3>
                    <div>
                        <strong>Trieda:</strong>
                        {{ student.grade.name }}
                    </div>
                    <div style="margin-top:2px;">
                        <strong>Kód: </strong>
                        <label>{{ student.code }}</label>
                    </div>
                    <div style="margin-top:2px;">
                        <strong style="margin-right:5px;" >Tagy: </strong>
                        {% for tag in student.tags %}
                            <label class="tag">{{ tag.name }}</label>
                        {% endfor %}
                    </div>

                    <button onclick="show('operation1')" style="margin-top:10px;" class="btn btn-sm btn-secondary ">Upraviť</button>

                </div>
                <div id="main_place">
                    <h3 class="card-title">{{student.name}}</h3>
                    <div>
                        <strong>Trieda:</strong>
                        {{ student.grade.name }}
                    </div>
                    <div style="margin-top:2px;">
                        <strong>Kód: </strong>
                        <label>{{ student.code }}</label>
                    </div>




                </div>


              </div>
              <div style="margin-top:20px;" class="d-flex justify-content-center add-book-m">
	            	<div class="collapse " id="new-book">
	            	  <div class="card card-body ">
                        <strong class="" style="padding-bottom:5px;font-size: 18px;">Pridať učebnicu</strong>
	            	    <form class="form-inline needs-validation" action="{{url_for('student_bp.rent_book',student_id=student.id)}}" method="post" style="margin-top:10px;" novalidate>
	            		  <input oninput="this.value=this.value.slice(0,this.maxLength)" maxlength="15" name="code"  type="number" class="form-control mb-2 mr-sm-2" placeholder="Kód" required>
                          <div style="margin-top:-5px;margin-bottom:10px;" class="invalid-feedback">
                            Zadaj platný kód učebnice
                          </div>

                          <button type="submit" class="btn btn-success mb-2">Pridať</button>
	            		</form>
	            	  </div>
	            	</div>
	           </div>
               <div class="card card-body d-block d-sm-none add-book-m" style="margin:-15px;margin-top:2px;">
                        <strong class="" style="padding-bottom:5px;font-size: 18px;">Pridať učebnicu</strong>
	            	    <form class="form-inline needs-validation" action="{{url_for('student_bp.rent_book',student_id=student.id)}}" method="post" style="margin-top:10px;" novalidate>
	            		  <input oninput="this.value=this.value.slice(0,this.maxLength)" maxlength="15" name="code"  type="number" class="form-control mb-2 mr-sm-2" id="validationCustom01" placeholder="Kód" required>
                          <div style="margin-top:-5px;margin-bottom:10px;" class="invalid-feedback">
                            Zadaj platný kód učebnice
                          </div>


                          <button type="submit" class="btn btn-success mb-2">Pridať</button>
	            		</form>
	            	  </div>
               <div style="margin-top:20px;" class="d-flex justify-content-center">
                    <button id="add-book" class="btn btn-primary utilities-buttons" onclick="moveModal" type="button" data-toggle="collapse" data-target="#new-book" aria-expanded="false" aria-controls="new-book">
	                   + Pridať učebnicu
	                </button>
               </div>
            </div>
            <div id="book-list" style="" class="book-list col-md-8 col-lg-8 col-sm-12 col-xs-12">
                <div  id="book-list2">
                </div>
                    <h4  class="text-muted">Požičané učebnice</h4>
                <div>
                    {% if student.books %}
                        {% for book in student.books %}
                            <div style="margin-top:10px;" class="card">
                              <div class="card-body">

                                <div class="container">
                                    <div class="row">
                                        <img class="inline img-grade" height="30" src="{{url_for('static',filename='images/book_icon.png')}}">
                                        <div style="margin-left:10px;" class="col-8">
                                            <h5>{{ book.book_type.name }}</h5>
                                        </div>
                                        <div style="margin-left:50px;" class="col-8">
                                            <strong>Autor:</strong>
                                            <label>{{ book.book_type.author }}</label>
                                        </div>
                                        {% if "permit" in session %}
                                            <a class="btn btn-info float-left" href="{{ url_for('book_bp.return_book_s_page', book_code=book.code) }}" style="color:white" data-dismiss="modal">Vrátiť</a>
                                        {% endif %}
                                        <div class="col-8" style="margin-left:50px;margin-top:-10px;margin-bottom:-5px;">
                                            <strong>Kód:</strong>
                                            <label>{{ book.code }}</label>
                                        </div>
                                    </div>
                                </div>
                              </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <label style="padding-left:20px;padding-top:10px;">Žiadne požičané učebnice</label>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {% if "permit" in session %}
        <div class="d-flex justify-content-center" style="margin-top:130px;">
            <button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#modalForDelete">Vymazať študenta</button>
        </div>


        <div class="modal fade" id="modalForDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Vymazanie študenta</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="main-text" style="padding-bottom:20px;">
                    Naozaj chcete vymazať študenta ?
                </div>
                  <a href="{{ url_for('admin_bp.delete_student', student_id=student.id) }}" class="btn btn-danger float-right">Vymazať</a>
                  <button type="button" class="btn btn-secondary float-right" style="margin-right:5px;" data-dismiss="modal">Zrušiť</button>
              </div>
            </div>
          </div>
        </div>

    {% endif %}



    <script>

        // script to check input
	    (function() {
          'use strict';
          window.addEventListener('load', function() {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
              form.addEventListener('submit', function(event) {
                if (form.checkValidity() === false) {
                  event.preventDefault();
                  event.stopPropagation();
                }
                form.classList.add('was-validated');
              }, false);
            });
          }, false);
        })();

        function show(param_div_id) {
          if (param_div_id === 'operation1') {
            if ($(window).width() > 600) {
                $(".student-card").css("height","300px");
            } else {
                $(".student-card").css("height","410px");
            }
          } else {
            $(".student-card").css("height","210px");
          }
          document.getElementById('main_place').innerHTML = document.getElementById(param_div_id).innerHTML;
        }


        $(document).ready(function(){
	     $('#add-book').on('click', function () {
	      var text=$('#add-book').text();
	      if(text === "- Pridať učebnicu"){
	        $(this).html('+ Pridať učebnicu');
	      } else{
	        $(this).text('- Pridať učebnicu');
	     }
	    });
	    });

    </script>


{% endblock content %}